.ng-hide{
	display: none;
}
h1{
	color:blue;
}
#pres-feedback{
	text-align: center;
	margin: 50px;	
}

#session-id{
	font-size: 1.5em;
	font-style: italic;
}

#your-dashboard{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: black;
}

.hidden{
	display: none;
}